<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <p class="lead"> I am currently persueing a Masters degree in Robotics from Northwestern University in Evanston, Il. Before I entered Northwestern I
            attended the Milwaukee school of engineering in Milwaukee, Wisconsin and the University of Applied Science Luebeck in Lubeck, Germany where I earned dual bachelors
            degrees in electrical engineering and  electrical engineering with a concentration in communications.</p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
