<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>Projects</h2>
        <hr class="small">
        <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="/Portfolio/projects/starbax.html" >

                <img class="img-portfolio img-responsive" src="img/Starbax.png">
              </a>
              <h3 class="portfolio-item-header-text">Starbax</h3>
              <h4 class="portfolio-item-body-text">Baxter project that utilizes AR tags and robotic manipulation to let baxter make a cup of coffee.</h4>

            </div>
          </div>


          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="/Portfolio/projects/magic.html">
                <img class="img-portfolio img-responsive" src="img/magic_thumb.png">
              </a>
              <h3 class="portfolio-item-header-text">Magic Eraser</h3>
              <h4 class="portfolio-item-body-text">Using computer vision the text in this video is erased as the pen passes over it. </h4>

            </div>
          </div>


          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="/Portfolio/projects/sumobot.html">
                <img class="img-portfolio img-responsive" src="img/20180113_160930.jpg">
              </a>
              <h3 class="portfolio-item-header-text">Sumobot Competition</h3>
              <h4 class="portfolio-item-body-text">A custom robot made to push its opponents out of the sumo ring.</h4>

            </div>
          </div>

          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="/Portfolio/projects/seniordesign.html">
                <img class="img-portfolio img-responsive" src="img/gimbal_thumbnail.JPG">

              </a>
              <h3 class="portfolio-item-header-text">VR Controlled Camera System</h3>
              <h4 class="portfolio-item-body-text">Using control systems and communications protocols a HTC vive was used to control a gimbal.</h4>

            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="/Portfolio/projects/winterproject.html">
                <img class="img-portfolio img-responsive" src="img/mario.png">

              </a>
              <h3 class="portfolio-item-header-text">Super Mario World AI</h3>
              <h4 class="portfolio-item-body-text"> A video game playing software agent.</h4>

            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="/Portfolio/projects/finalproject.html">
                <img class="img-portfolio img-responsive" src="img/glove.png">

              </a>
              <h3 class="portfolio-item-header-text">VR Force Glove</h3>
              <h4 class="portfolio-item-body-text"> Force feedback VR glove and siulaion</h4>

            </div>
          </div>
        </div>
        <!-- /.row (nested) -->
        <!-- <a  class="btn btn-dark">View More Items</a> -->
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
